body {
  background-color: black;
}

/* header */
.header{
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 10rem;
}

.header .navbar a{
  margin: 0 3rem;
  font-size: 1.8rem;
  color:  white;
  font-weight: 600;
}

.header .logo {
  margin-left: 5rem; 
}

.header .navbar {
  display: flex;
  justify-content: right;
  flex: 1; 
  margin-right: 10%;
}

.header .navbar a:hover{
  color: white;
  border-bottom: .1rem solid white;
  padding-bottom: .5rem;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5rem;
}

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  box-sizing: border-box;
}

/* background */
.showroom {
  margin-top: 10rem; 
  text-align: center; 
}

.showroom img {
  width: 100%; 
  height: auto; 
  max-height: 860px; 
  object-fit: cover; 
}

.slideshow-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f2f1ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideshow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideshow-caption h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  color: #f2f1ef;
  text-shadow: 0.1875rem 0.3125rem 0.75rem rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  margin-bottom: 20%;
}

.slideshow-caption h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.875rem;
  text-shadow: 0.1875rem 0.3125rem 0.75rem rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  margin-bottom: 5%;
}

/* about us */
.section {
  width: 100%;
  min-height: 80vh;
  background-color: black;
  display: flex;
  align-items: center; 
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 100px;
  justify-content: space-between; 
}

.container-section {
  width: 45%;
}

.image-section {
  width: 45%;
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  margin-top: 0;
}

.container-section .title {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

.container-section .content h3 {
  margin-top: 20px;
  color:cornflowerblue;
  font-size: 30px;
}

.container-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}

.container-section .content .button {
  margin-top: 30px;
}

.container-section .content .button a {
  background-color: white;
  padding: 12px 40px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  letter-spacing: 1.5px;
}

/* vision mission */
.visionmission-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}

.visionmission-item {
  background-color: rgb(36, 36, 36);
  text-align: center;
}

.visionmission-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.visionmission-item h2 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 30px;
  text-decoration: underline;
}

.visionmission-item p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 1.5;
  font-weight: 500;
}

.button-2 {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 10px;
  font-size: 15px;
}

.button-2:hover {
  background-color: #ccc;
}

/* social media about us */
.sections {
  width: 100%;
  min-height: 60vh;
  background-color: black;
  display: flex;
  align-items: center;
}

.containers {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 0px;
  justify-content: flex-start;
}

.container-sections {
  width: 45%;
}

.image-sections {
  width: 45%;
}

.image-sections img {
  width: 80%;
  height: 120%;
  border-radius: 10%;
  margin-top: 0;
}

.container-sections .titles {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

.container-sections .contents h3 {
  margin-top: 20px;
  color: cornflowerblue;
  font-size: 30px;
}

.container-sections .contents p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  display: flex;
  align-items: center; 
}

.container-sections .contents img {
  margin-right: 10px;
  width: 24px; 
  height: 24px; 
}

/* FOOTER */
.logo-container img{
  width: 350px;
  height: 350px;
}

.footer-section {
  background-color: #faf8eb;
  color: black;
  padding: 2rem 0;
}

.footer-container {
  display: flex;
  margin: 1% 5%;
  justify-content: space-between;
  gap: 2rem;
}

.footer-container > div {
  height: 300px; 
  padding-top: 5px; 
  padding-bottom: 0px; 
}

.info-heading,
.social-heading,
.contact-heading {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 80px;
}

.info-list {
  list-style-type: none;
  padding: 0;
}

.info-list li {
  margin-bottom: 1rem;
}

.info-list li a {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.info-list li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 0.05rem;
  background-color: #413F3D;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.info-list li a:hover:after {
  opacity: 1;
}

.social-icons {
  display: flex;
  gap: 15%;
}

.social-icons img {
  width: 1.8rem;
  padding: 0px 1.5%;
  transition: filter 0.8s ease;
}

.social-icons img:hover {
  filter: brightness(40%);
}

.contact-container {
  width: 25%;
}

.contact-container p {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-bottom {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}

/* hamburger menu at 768 px */
.header .hamburger-menu{
  display: none;
  cursor: pointer;
}

.header .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
.header .logo img{
  height: 8rem;
}

.header .hamburger-menu{
  display: block;
  margin-right: 10px;
  margin-left: 20px;
}

.header .hamburger-menu.active .bar:nth-child(2){
  opacity: 0;
}

.header .hamburger-menu.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.header .hamburger-menu.active .bar:nth-child(3){
  transform: translateY(8px) rotate(45deg);
}

.header .navbar {
  position: fixed;
  left: 30px;
  top: 80px;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 90%;
  text-align: center;
  transform: translateX(-120%);
  transition: transform 0.3s; 
}

.header .navbar.active {
  transform: translateX(0); 
}

.header .navbar a {
  margin: 10px; 
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}

html {
  font-size: 60%; 
}

.image-sections img {
  width: 80%;
  height: 50%;
  border-radius: 10%;
  margin-top: 0;
}

.container-sections .titles {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.header .navbar {
  justify-content: center; 
  margin-right: 5%; 
}

.slideshow-caption {
  top: 26.5%; 
  transform: translate(-50%, 0); 
  justify-content: flex-start; 
}

.slideshow-caption h2 {
  font-size: 2.5rem;
}

.slideshow-caption h3 {
  font-size: 1.5rem;
}

.logo-container img{
  width: 250px;
  height: 250px;
}

.info-heading,
.social-heading,
.contact-heading {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 80px;
}

.social-icons img {
  width: 1.3rem;
  padding: 0px 1.5%;
  transition: filter 0.8s ease;
}
.section {
  min-height: auto; 
  padding: 20px 0; 
}

.container {
  width: 90%;
  flex-direction: column; 
  padding-top: 50px; 
  align-items: center; /
}

.container-section, .image-section {
  width: 100%; 
  margin-bottom: 20px; 
}

.image-section img {
  width: 90%; 
  border-radius: 10%; 
  margin-left: 30px;
}

.container-section .title {
  font-size: 3rem; 
  text-align: center; 
  margin-bottom: 20px; 
}

.container-section .content h3 {
  font-size: 3rem; 
  text-align: left; 
}

.container-section .content p {
  font-size: 1.6rem; 
  line-height: 1.4; 
  text-align:justify; 
}

.container-section .content .button {
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 20px;
}

.container-section .content .button a {
  font-size: 1.25rem; 
  padding: 10px 20px; 
}

.visionmission-grid {
  grid-template-rows: auto; 
}

.visionmission-item h2 {
  font-size: 2rem; 
  margin-top: 20px; 
  margin-bottom: 10px; 
}

.visionmission-item p {
  font-size: 1.2rem; 
  margin-top: 10px; 
  margin-bottom: 20px; 
  margin-right: 20px;
  margin-left: 20px;
}

.visionmission-item img {
  height: 370px; 
}

.button-2 {
  font-size: 1rem; 
}
}