* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  box-sizing: border-box;
}

/* header */
.header{
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 10rem;
}

.header .navbar a{
  margin: 0 3rem;
  font-size: 1.8rem;
  color:  white;
  font-weight: 600;
}

.header .logo {
  margin-left: 5rem; 
}

.header .navbar {
  display: flex;
  justify-content: right;
  flex: 1; 
  margin-right: 10%;
}

.header .navbar a:hover{
  color: white;
  border-bottom: .1rem solid white;
  padding-bottom: .5rem;
}

html{
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 5rem;
}

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  box-sizing: border-box;
}

/* login container */
.login-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./image/Cars/cars7.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-container-wrapper {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 10px;
}

.login-container-wrapper h1{
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
  color:black;
}

.login-container-wrapper h1::after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px ;
  background: black;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input {
  background: #faf8eb;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

form p{
  text-align: left;
  font-size: 13px;
  margin-top: 5%;
}

form p a{
  text-decoration: none;
  color:cornflowerblue;
}

.btn{
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #faf8eb;
  cursor: pointer;
}

.input {
  height: 300px;
}

.checkbox-group {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 5%;
  border-radius: 3px;
  background: #faf8eb;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
}

/* FOOTER */
.logo-container img{
  width: 350px;
  height: 350px;
}

.footer-section {
  background-color: #faf8eb;
  color: black;
  padding: 2rem 0;
}

.footer-container {
  display: flex;
  margin: 1% 5%;
  justify-content: space-between;
  gap: 2rem;
}

.footer-container > div {
  height: 300px; 
  padding-top: 5px; 
  padding-bottom: 0px; 
}

.info-heading,
.social-heading,
.contact-heading {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 80px;
}

.info-list {
  list-style-type: none;
  padding: 0;
}

.info-list li {
  margin-bottom: 1rem;
}

.info-list li a {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.info-list li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 0.05rem;
  background-color: #413F3D;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.info-list li a:hover:after {
  opacity: 1;
}

.social-icons {
  display: flex;
  gap: 15%;
}

.social-icons img {
  width: 1.8rem;
  padding: 0px 1.5%;
  transition: filter 0.8s ease;
}

.social-icons img:hover {
  filter: brightness(40%);
}

.contact-container {
  width: 25%;
}

.contact-container p {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-bottom {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}

/* hamburger menu at 768 px */
.header .hamburger-menu{
  display: none;
  cursor: pointer;
}

.header .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
.header .logo img{
  height: 8rem;
}
  
.header .hamburger-menu{
  display: block;
  margin-right: 10px;
  margin-left: 20px;
}
  
.header .hamburger-menu.active .bar:nth-child(2){
  opacity: 0;
}
  
.header .hamburger-menu.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
  
.header .hamburger-menu.active .bar:nth-child(3){
  transform: translateY(8px) rotate(45deg);
}
  
.header .navbar {
  position: fixed;
  left: 30px;
  top: 80px;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 90%;
  text-align: center;
  transform: translateX(-120%);
  transition: transform 0.3s; 
}
  
.header .navbar.active {
  transform: translateX(0); 
}
  
.header .navbar a {
  margin: 10px; 
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}

.logo-container img{
  width: 250px;
  height: 250px;
}
  
.info-heading,
.social-heading,
.contact-heading {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 80px;
}
  
.social-icons img {
  width: 1.3rem;
  padding: 0px 1.5%;
  transition: filter 0.8s ease;
}
}